@use "colors";

$animation-speed: 0.5s;
$color-change: 10%;

.bar-widget {
  font-size: 14px;
}

.workspaces {
    &:first-child {
        padding-left: 0;
    }
}

.workspace-button {
    padding: 0 5px;

    background-color: colors.$bg;
    border: none;
    border-radius: 0;

    transition-property: color, border-bottom;
    transition: $animation-speed;

    &.empty {
        color: colors.$black-l;
    }

    &.urgent {
        color: colors.$yellow;

        border-bottom: 1px solid colors.$yellow;
    }

    &.active {
        color: colors.$red;

        border-bottom: 1px solid colors.$red;
    }

    &:hover {
        color: lighten(colors.$fg, $color-change);
    }

    &.empty:hover {
        color: lighten(colors.$black-l, $color-change);
    }

    &.urgent:hover {
        color: darken(colors.$yellow, $color-change);

        border-bottom: 1px solid darken(colors.$yellow, $color-change);
    }

    &.active:hover {
        color: darken(colors.$red, $color-change);

        border-bottom: 1px solid darken(colors.$red, $color-change);
    }
}

.tray-box {
  background: colors.$bg;
}

