$bg:        #1a1b26;
$fg:        #c0caf5;
            
$black:     #15161E;
$red:       #f7768e;
$green:     #9ece6a;
$yellow:    #e0af68;
$blue:      #7aa2f7;
$magenta:   #bb9af7;
$cyan:      #7dcfff;
$white:     #a9b1d6;
            
$black-l:   #414868;
$red-l:     #f78399;
$green-l:   #a7d278;
$yellow-l:  #e3b777;
$blue-l:    #87abf7;
$magenta-l: #c1a4f7;
$cyan-l:    #8ad3ff;
$white-l:   #c0caf5;
            
$blue-d:    #004cff; 
