@use "colors";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;

  font-family: "Iosevka Nerd Font";
}

.black {
  color: colors.$black;
}

.red {
  color: colors.$red;
}

.green {
  color: colors.$green;
}

.yellow {
  color: colors.$yellow;
}

.blue {
  color: colors.$blue;
}

.magenta {
  color: colors.$magenta;
}

.cyan {
  color: colors.$cyan;
}

.white {
  color: colors.$white;
}

.black-l {
  color: colors.$black-l;
}

.red-l {
  color: colors.$red-l;
}

.green-l {
  color: colors.$green-l;
}

.yellow-l {
  color: colors.$yellow-l;
}

.blue-l {
  color: colors.$blue-l;
}

.magenta-l {
  color: colors.$magenta-l;
}

.cyan-l {
  color: colors.$cyan-l;
}

.white-l {
  color: colors.$white-l;
}

.blue-d {
  color: colors.$blue-d;
}

tooltip {
  border: 1px solid colors.$fg;
  border-radius: 10;

  background-color: colors.$bg;

  * {
    color: colors.$fg;
  }
}
