@use "colors";

$animation-speed: 1s;

.powermenu-layout {
  background-color: colors.$bg;

  border: 4px solid;
  border-color: colors.$red;
  border-radius: 10px;

  padding: 20px;

  & > * {
      background-color: colors.$bg;
  }
}

.power-btn {
    border: none;
    padding: 15px 65px;

    transition-property: background-color, color;
    transition: $animation-speed;

    &:hover {
        background-color: colors.$yellow;
        border-radius: 10px;

        color: colors.$bg;
    }

    & > * {
        font-family: "Iosevka Nerd Font Mono";
        font-size: 100px;
    }
}
